div.shutupguy_matches {
    position: absolute;
    right: 50%;
    z-index: 1;
    padding: 3px;
    text-transform: uppercase;
}

.shutupguy .actorDescription.actorName * {
    background-color: white !important;
    padding: 3px;
}

.shutupguy, .shutupguy :not(.highlightSelectorButton) {
    background-color: #333333 !important;
    background-image: none !important;
    color: #333333 !important;
    border: 0 none !important;
}

.shutupguy img:not(.profilePic) {
    display: none !important;
}

